.change-password-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--light);
    z-index: 2000;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    animation: fadeInScale 0.3s forwards;

    @keyframes fadeInScale {
        from {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.8);
        }

        to {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }


    h3 {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        color: var(--dark);
        margin-bottom: 10px;
    }

    .bx-x {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 24px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: rotate(90deg);
            color: red;
        }
    }

    .passwordData {
        padding: 20px;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .form-input {
                flex: 1;
                display: flex;
                flex-direction: column;
                min-width: 300;

                label {
                    font-weight: 500;
                    margin-bottom: 5px;
                    color: var(--dark);
                }

                input {
                    padding: 10px;
                    border: 1px solid var(--grey);
                    border-radius: 10px;
                    font-size: 14px;
                    transition: all 0.3s ease-in-out;

                    &:focus {
                        border-color: var(--blue);
                        box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
                        outline: none;
                    }
                }
            }

            .error {
                color: red;
            }

            .success {
                color: green;
            }

            .btn {
                width: 100%;
                padding: 12px;
                border: none;
                background-color: var(--blue);
                color: var(--light);
                border-radius: 14px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-top: 20px;

                &:hover {
                    background-color: #0047ab;
                }
            }
        }

    }
}