#cng {
    padding: 50px 0;

    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .cng_section {

        max-width: 1250px;
        display: flex;
        align-items: center;
        justify-content: center;

        .cng_left_section {
            width: 48%;

            h3 {
                display: block;
                font-size: 1.17em;
                color: var(--cng_primary_color);
                font-weight: bold;
                margin-block-start: 1em;
                margin-block-start: 1em;

                span {
                    color: var(--cng_secondary_color);
                }
            }


            h5 {
                display: block;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.2;
            }

            p {
                margin-top: 10px;
                font-size: 16px;
                color: var(--grey);
            }

            .cng_nav {
                margin: 30px 0;

                .cng_nav_button {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px 25px;
                    border-radius: 30px;
                    color: var(--white);
                    background-color: var(--green);
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        .cng_right_section {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;

            img {
                max-width: 90%;
                height: auto;
            }
        }
    }
}


#businessVerticals {
    padding: 50px 0;
    position: relative;

    .businessVerticals_section {
        max-width: 1200px;

        .businessVerticals_head {
            text-align: center;

            h3 {
                display: block;
                font-size: 44px;
                font-weight: 600;
            }

            p {
                margin-top: 10px;
                font-size: 16px;
                color: var(--grey);
            }
        }

        .businessVerticals_card_section {
            display: flex;
            justify-content: center;
            padding-top: 50px;

            .businessVerticals_card {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 25%;

                img {
                    width: 120px;
                    height: auto;
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }

    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

}

#inspection {
    margin: 50px 10px;
    background-color: var(--inspection_Pcolor);
    border-radius: 20px;
    color: var(--white);
    position: relative;
    overflow: hidden;
    min-height: 500px; // Set the minimum height for proper alignment

    .inspection_section {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .inspection_left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 2;

        .inspection_text {
            h2 {
                font-size: 46px;
                line-height: 1.2;
                font-weight: 500;
            }

            ul li::after {
                position: absolute;
                left: 20px;
                content: "✔";
                font-family: "Font Awesome 5 Pro";
                font-weight: 500;
                height: 18px;
                width: 18px;
                line-height: 18px;
                background: #ffb400;
                text-align: center;
                font-size: 12px;
                border-radius: 50%;
                transform: translateY(20%);
                color: #000000;
            }

            span {
                font-size: 36px;
                font-weight: 300;
            }

            ul {
                margin: 20px 0;
                list-style-type: none;
                padding-left: 20px;

                li {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }


        }

    }



    .inspection_btn_parent {
        margin-top: 30px;

        .inspection_view_btn {
            text-decoration: none;
            background-color: #ffb400;
            padding: 10px 40px;
            border-radius: 30px;
            color: var(--black);
            font-size: 14px;
            font-weight: 500;
            position: relative;
            z-index: 1;
            animation: pulse 2s infinite;
            transform: scale(1);
            box-shadow: 0 0 0 rgb(249, 247, 227);

        }
    }

    .inspection_right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            position: relative;
            z-index: 3;
        }
    }

    .shape {
        position: absolute;
        right: 0;
        top: 50px;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.5;

        &::before {
            content: "";
            position: absolute;
            background-image: url("../../assets/landing_right.webp"); // Path to your right-side background image
            background-size: contain; // Ensures the image retains aspect ratio
            background-position: right center; // Aligns it to the right and centers vertically
            background-repeat: no-repeat;
            width: 100%; // Covers the entire width of the section
            height: 100%; // Covers the entire height of the section
            z-index: 1;
            left: 60px;
            top: -40px;

        }
    }
}

